In [1]:
import pandas as pd
import os
import shutil

In [2]:
nuevo_nombre_carpeta = 'all_data_2005xstation_15_05_2024'

# Section 1

Primero unimos los nuevos datos a los datos ya guardados en su respectiva estación

#Valores hasta 15 de mayo 2024
AJM.csv AJM.csv
108873 1064 109937
BJU.csv BJU.csv
121613 1065 122678
CAM.csv CAM.csv
217118 1014 218132
CCA.csv CCA.csv
133365 1053 134418
CUA.csv CUA.csv
228566 1042 229608
GAM.csv GAM.csv
109108 1064 110172
MGH.csv MGH.csv
116118 1063 117181
NEZ.csv NEZ.csv
194751 1058 195809
PED.csv PED.csv
254680 992 255672
SAC.csv SAC.csv
56018 1066 57084
SAG.csv SAG.csv
247532 931 248463
SFE.csv SFE.csv
134231 0 134231
TAH.csv TAH.csv
228177 1052 229229
TLI.csv TLI.csv
226817 1058 227875
VIF.csv VIF.csv
234964 1010 235974

In [30]:
# Tener cuidado, descomentar y comentar para ejecutar SOLO 1 vez
"""
dir = "all_data_2005xstation_31_03_2024"
dirNewData = "datos_por_estacion"
filesPREV = os.listdir(dir)
filesNEW = os.listdir(dirNewData)
for file_name in filesPREV:
  for file_nameNEW in filesNEW:
    if file_name == file_nameNEW:
      print(file_name, file_nameNEW)
      file_pathPREV = os.path.join(dir,file_name)
      datasetPREV = pd.read_csv(file_pathPREV)
      file_pathNEWdata = os.path.join(dirNewData,file_name)
      datasetNEWdata = pd.read_csv(file_pathNEWdata)
      new_df = pd.concat([datasetPREV, datasetNEWdata])
      new_df.to_csv(file_pathPREV, index=False)
      print(len(datasetPREV), len(datasetNEWdata), len(new_df))
"""

BJU.csv BJU.csv
120894 1784 122678
FAC.csv FAC.csv
268964 1773 270737
NEZ.csv NEZ.csv
194007 1802 195809
PED.csv PED.csv
253982 1690 255672
SAC.csv SAC.csv
55274 1810 57084

Se renombra la carpeta con la fecha de los últimos datos

In [32]:
# Renombrar la carpeta
os.rename(dir, nuevo_nombre_carpeta)

In [4]:
dir =  nuevo_nombre_carpeta
dir_sinNaN = "datos_por_estacion_sin_NaN"
if not os.path.exists(dir_sinNaN ):
    os.makedirs(dir_sinNaN )
files = os.listdir(dir)

info_datasets = []
columnas = ["file_name", "len_dataset","%datosFaltantes"]

for file_name in files:
  file_path = os.path.join(dir,file_name)
  print(file_path)
  dataset = pd.read_csv(file_path)
  dataset[['year', 'month', 'day']] = dataset['date'].str.split('/', expand=True)
  dataset["hour"] = dataset["day"]
  dataset[["day", "hour"]] = dataset["day"].str.split(' ', expand=True)
  dataset[["hour","minute"]] = dataset["hour"].str.split(':', expand=True)

  porcentaje_total_vacios = round(dataset.isna().mean().mean() * 100,2)
  info_datasets.append([file_name, len(dataset), porcentaje_total_vacios])
    
  dataset = dataset.dropna(axis=1, how='all')
  dataset = dataset.dropna(axis=0)
  df = dataset[["date", "year", "month", "day", "hour", "minute"]]
  dataset = dataset.drop(["date", "year", "month", "day", "hour", "minute"], axis=1)
  for column in dataset.columns:
    if dataset[column].nunique() == 1:
      dataset = dataset.drop(columns=[column], axis=1)
  dataset.insert(0, "date", df["date"])
  df = df.drop(["date"], axis=1)
  dataset[["year", "month", "day", "hour", "minute"]] = df
  name = os.path.join(dir_sinNaN, file_name)
  dataset.to_csv(name, index=False)

info_name = "info_split_datasets.csv"
info_datasets = pd.DataFrame(info_datasets, columns=columnas)
info_datasets.to_csv(info_name, index=False)

all_data_2005xstation_15_05_2024\ACO.csv
all_data_2005xstation_15_05_2024\AJM.csv
all_data_2005xstation_15_05_2024\AJU.csv
all_data_2005xstation_15_05_2024\ARA.csv
all_data_2005xstation_15_05_2024\ATI.csv
all_data_2005xstation_15_05_2024\AZC.csv
all_data_2005xstation_15_05_2024\BJU.csv
all_data_2005xstation_15_05_2024\CAM.csv
all_data_2005xstation_15_05_2024\CCA.csv
all_data_2005xstation_15_05_2024\CES.csv
all_data_2005xstation_15_05_2024\CHO.csv
all_data_2005xstation_15_05_2024\COY.csv
all_data_2005xstation_15_05_2024\CUA.csv
all_data_2005xstation_15_05_2024\CUT.csv
all_data_2005xstation_15_05_2024\FAC.csv
all_data_2005xstation_15_05_2024\FAR.csv
all_data_2005xstation_15_05_2024\GAM.csv
all_data_2005xstation_15_05_2024\HGM.csv
all_data_2005xstation_15_05_2024\IMP.csv
all_data_2005xstation_15_05_2024\INN.csv
all_data_2005xstation_15_05_2024\IZT.csv
all_data_2005xstation_15_05_2024\LAG.csv
all_data_2005xstation_15_05_2024\LLA.csv
all_data_2005xstation_15_05_2024\LPR.csv
all_data_2005xstation_15_05_2024\MER.csv
all_data_2005xstation_15_05_2024\MGH.csv
all_data_2005xstation_15_05_2024\MON.csv
all_data_2005xstation_15_05_2024\MPA.csv
all_data_2005xstation_15_05_2024\NEZ.csv
all_data_2005xstation_15_05_2024\PED.csv
all_data_2005xstation_15_05_2024\PLA.csv
all_data_2005xstation_15_05_2024\SAC.csv
all_data_2005xstation_15_05_2024\SAG.csv
all_data_2005xstation_15_05_2024\SFE.csv
all_data_2005xstation_15_05_2024\SJA.csv
all_data_2005xstation_15_05_2024\SUR.csv
all_data_2005xstation_15_05_2024\TAC.csv
all_data_2005xstation_15_05_2024\TAH.csv
all_data_2005xstation_15_05_2024\TAX.csv
all_data_2005xstation_15_05_2024\TEC.csv
all_data_2005xstation_15_05_2024\TLA.csv
all_data_2005xstation_15_05_2024\TLI.csv
all_data_2005xstation_15_05_2024\TPN.csv
all_data_2005xstation_15_05_2024\UAX.csv
all_data_2005xstation_15_05_2024\UIZ.csv
all_data_2005xstation_15_05_2024\VAL.csv
all_data_2005xstation_15_05_2024\VIF.csv
all_data_2005xstation_15_05_2024\XAL.csv

In [6]:
info_name = "info_split_datasets.csv"
info_data = pd.read_csv(info_name)
info_data

   file_name  len_dataset  %datosFaltantes
0    ACO.csv       193368            33.19
1    AJM.csv       109937            25.45
2    AJU.csv        97827            43.39
3    ARA.csv        41899            59.76
4    ATI.csv       245317            42.49
5    AZC.csv        81505            44.70
6    BJU.csv       122678            32.91
7    CAM.csv       218132            40.68
8    CCA.csv       134418            36.57
9    CES.csv        85108            31.79
10   CHO.csv       200908            38.76
11   COY.csv       144137            48.24
12   CUA.csv       229608            32.69
13   CUT.csv       158321            30.33
14   FAC.csv       270737            25.72
15   FAR.csv        71260            35.63
16   GAM.csv       110172            39.18
17   HGM.csv       157736            30.95
18   IMP.csv        74286            58.81
19   INN.csv       108588            38.54
20   IZT.csv       214234            36.63
21   LAG.csv        83993            40.69
22   LLA.csv       169806            50.28
23   LPR.csv       207427            52.99
24   MER.csv       257049            22.64
25   MGH.csv       117181            26.87
26   MON.csv       222329            36.41
27   MPA.csv        94460            38.07
28   NEZ.csv       195809            32.99
29   PED.csv       255672            25.76
30   PLA.csv        82556            28.97
31   SAC.csv        57084            29.37
32   SAG.csv       248463            25.40
33   SFE.csv       134231            26.97
34   SJA.csv       124413            45.88
35   SUR.csv       154987            30.09
36   TAC.csv        76250            29.80
37   TAH.csv       229229            34.06
38   TAX.csv        67959            36.81
39   TEC.csv        14544            19.80
40   TLA.csv       257192            24.06
41   TLI.csv       227875            39.46
42   TPN.csv       125726            39.62
43   UAX.csv       152762            28.91
44   UIZ.csv       249299            31.87
45   VAL.csv        63297            57.81
46   VIF.csv       235974            27.50
47   XAL.csv       241091            28.17

Luego los segmentamos en entrenamiento y prueba (se dejaron para prueba los datos de hace un año)

In [ ]:
dir = "entrenamiento_datos_por_estacion"
dir_sinNaN = "entrenamiento_datos_por_estacion_sin_NaN"
if not os.path.exists(dir_sinNaN ):
    os.makedirs(dir_sinNaN )
files = os.listdir(dir)
for file_name in files:
  file_path = os.path.join(dir,file_name)
  print(file_path)
  dataset = pd.read_csv(file_path)
  dataset = dataset.dropna(axis=1, how='all')
  dataset = dataset.dropna(axis=0)
  df = dataset[["date", "year", "month", "day", "hour", "minute"]]
  dataset = dataset.drop(["date", "year", "month", "day", "hour", "minute"], axis=1)
  for column in dataset.columns:
    if dataset[column].nunique() == 1:
      dataset = dataset.drop(columns=[column], axis=1)
  dataset.insert(0, "date", df["date"])
  df = df.drop(["date"], axis=1)
  dataset[["year", "month", "day", "hour", "minute"]] = df
  name = os.path.join(dir_sinNaN, file_name)
  dataset.to_csv(name, index=False)

In [5]:
dir = "datos_por_estacion_sin_NaN"
new_dirTest = "prueba_datos_por_estacion"
new_dirTrain = "entrenamiento_datos_por_estacion"

if not os.path.exists(new_dirTest):
    os.makedirs(new_dirTest)
    
if not os.path.exists(new_dirTrain):
    os.makedirs(new_dirTrain)

info_datasets = []
columnas = ["len_dataset_withoutNaN","len_trainSet_withoutNaN","len_testSet_withoutNaN"]
files = os.listdir(dir)
for file_name in files:
    file_path = os.path.join(dir,file_name)
    print(file_path)
    dataset = pd.read_csv(file_path)
    if len(dataset)>0:
        dataset[['year', 'month', 'day']] = dataset['date'].str.split('/', expand=True)
        dataset["hour"] = dataset["day"]
        dataset[["day", "hour"]] = dataset["day"].str.split(' ', expand=True)
        dataset[["hour","minute"]] = dataset["hour"].str.split(':', expand=True)
        #Ver si se quita o no
        #dataset['date'] = pd.to_datetime(dataset['date'], format='%Y/%m/%d %H:%M:%S')
        dataset['date'] = pd.to_datetime(dataset['date'])
        #dataset['date'] = pd.to_datetime(dataset[['year', 'month', 'day', 'hour','minute']])
        #dataset['date'] = pd.to_datetime(dataset['date'])
        fecha_limite = pd.Timestamp('2023-04-01')
        train_set = dataset[dataset['date'] < fecha_limite].copy()
        test_set = dataset[dataset['date'] > fecha_limite].copy()

        new_nameTrain = os.path.join(new_dirTrain, file_name)
        new_nameTest = os.path.join(new_dirTest, file_name)
        train_set.to_csv(new_nameTrain, index=False)
        test_set.to_csv(new_nameTest, index=False)
        
        info_datasets.append([len(dataset), len(train_set), len(test_set)])

datos_por_estacion_sin_NaN\BJU.csv
datos_por_estacion_sin_NaN\FAC.csv
datos_por_estacion_sin_NaN\NEZ.csv
datos_por_estacion_sin_NaN\PED.csv
datos_por_estacion_sin_NaN\SAC.csv

In [6]:
dataset

,date,CO,NO,NOX,NO2,O3,PM25,RH,SO2,TMP,WDR,WSP,year,month,day,hour,minute
0,2021-09-02 00:00:00,0.52,13.0,50.0,37.0,3.0,10.0,97.0,0.0,11.0,40.0,0.7,2021,09,02,00,00
1,2021-09-02 01:00:00,0.25,1.0,10.0,10.0,32.0,19.0,95.0,0.0,11.0,29.0,1.5,2021,09,02,01,00
2,2021-09-02 02:00:00,0.16,1.0,6.0,5.0,21.0,14.0,96.0,0.0,10.0,104.0,2.8,2021,09,02,02,00
3,2021-09-02 04:00:00,0.15,1.0,4.0,4.0,18.0,3.0,97.0,1.0,10.0,122.0,1.9,2021,09,02,04,00
4,2021-09-02 05:00:00,0.25,2.0,11.0,9.0,15.0,4.0,96.0,1.0,10.0,228.0,0.8,2021,09,02,05,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6616,2024-05-15 12:00:00,0.55,1.0,8.0,7.0,72.0,54.0,20.0,1.0,29.0,80.0,2.1,2024,05,15,12,00
6617,2024-05-15 13:00:00,0.59,2.0,11.0,9.0,85.0,48.0,18.0,1.0,30.0,10.0,2.5,2024,05,15,13,00
6618,2024-05-15 14:00:00,0.56,1.0,8.0,6.0,81.0,50.0,19.0,1.0,30.0,121.0,3.9,2024,05,15,14,00
6619,2024-05-15 15:00:00,0.53,2.0,7.0,5.0,73.0,61.0,18.0,1.0,30.0,116.0,4.2,2024,05,15,15,00
6620,2024-05-15 17:00:00,0.80,1.0,13.0,12.0,79.0,68.0,25.0,1.0,28.0,208.0,4.5,2024,05,15,17,00

In [7]:
pd.to_datetime(dataset['date'], format='%d/%m/%Y %H:%M')

0      2021-09-02 00:00:00
1      2021-09-02 01:00:00
2      2021-09-02 02:00:00
3      2021-09-02 04:00:00
4      2021-09-02 05:00:00
               ...
6616   2024-05-15 12:00:00
6617   2024-05-15 13:00:00
6618   2024-05-15 14:00:00
6619   2024-05-15 15:00:00
6620   2024-05-15 17:00:00
Name: date, Length: 6621, dtype: datetime64[ns]

In [8]:
file_path

'datos_por_estacion_sin_NaN\\SAC.csv'

In [10]:
info_name = "info_split_datasets.csv"
info_data = pd.read_csv(info_name)
info_datasets = pd.DataFrame(info_datasets, columns=columnas)
info_data = pd.concat([info_data,info_datasets], axis=1)
#info_datasets.to_csv(info_name, index=False)
info_data

,file_name,len_dataset,%datosFaltantes,len_dataset_withoutNaN,len_trainSet_withoutNaN,len_testSet_withoutNaN
0,BJU.csv,122678,32.91,4197.0,4197.0,0.0
1,FAC.csv,270737,25.72,13123.0,9410.0,3712.0
2,NEZ.csv,195809,32.99,51209.0,46072.0,5137.0
3,PED.csv,255672,25.76,6621.0,700.0,5921.0
4,SAC.csv,57084,29.37,NaN,NaN,NaN

Las carpetas con los datos x estación ya segmentados se encuentran en entrenamiento / prueba / y validación

# Esta debería ir antes que la Section 1
Section 2

Se crean nuevas carpetas con archivos sin datos faltantes

In [10]:
dir = "entrenamiento_datos_por_estacion"
dir_sinNaN = "entrenamiento_datos_por_estacion_sin_NaN"
if not os.path.exists(dir_sinNaN ):
    os.makedirs(dir_sinNaN )
files = os.listdir(dir)
for file_name in files:
  file_path = os.path.join(dir,file_name)
  print(file_path)
  dataset = pd.read_csv(file_path)
  dataset = dataset.dropna(axis=1, how='all')
  dataset = dataset.dropna(axis=0)
  df = dataset[["date", "year", "month", "day", "hour", "minute"]]
  dataset = dataset.drop(["date", "year", "month", "day", "hour", "minute"], axis=1)
  for column in dataset.columns:
    if dataset[column].nunique() == 1:
      dataset = dataset.drop(columns=[column], axis=1)
  dataset.insert(0, "date", df["date"])
  df = df.drop(["date"], axis=1)
  dataset[["year", "month", "day", "hour", "minute"]] = df
  name = os.path.join(dir_sinNaN, file_name)
  dataset.to_csv(name, index=False)

dir = "validacion_datos_por_estacion"
dir_sinNaN = "validacion_datos_por_estacion_sin_NaN"
if not os.path.exists(dir_sinNaN):
    os.makedirs(dir_sinNaN )
files = os.listdir(dir)
for file_name in files:
  file_path = os.path.join(dir,file_name)
  print(file_path)
  dataset = pd.read_csv(file_path)
  dataset = dataset.dropna(axis=1, how='all')
  dataset = dataset.dropna(axis=0)
  df = dataset[["date", "year", "month", "day", "hour", "minute"]]
  dataset = dataset.drop(["date", "year", "month", "day", "hour", "minute"], axis=1)
  for column in dataset.columns:
    if dataset[column].nunique() == 1:
      dataset = dataset.drop(columns=[column], axis=1)
  dataset.insert(0, "date", df["date"])
  df = df.drop(["date"], axis=1)
  dataset[["year", "month", "day", "hour", "minute"]] = df
  name = os.path.join(dir_sinNaN, file_name)
  dataset.to_csv(name, index=False)


dir = "prueba_datos_por_estacion"
dir_sinNaN = "prueba_datos_por_estacion_sin_NaN"
if not os.path.exists(dir_sinNaN):
    os.makedirs(dir_sinNaN )
files = os.listdir(dir)
for file_name in files:
  file_path = os.path.join(dir,file_name)
  print(file_path)
  dataset = pd.read_csv(file_path)
  dataset = dataset.dropna(axis=1, how='all')
  dataset = dataset.dropna(axis=0)
  df = dataset[["date", "year", "month", "day", "hour", "minute"]]
  dataset = dataset.drop(["date", "year", "month", "day", "hour", "minute"], axis=1)
  for column in dataset.columns:
    if dataset[column].nunique() == 1:
      dataset = dataset.drop(columns=[column], axis=1)
  dataset.insert(0, "date", df["date"])
  df = df.drop(["date"], axis=1)
  dataset[["year", "month", "day", "hour", "minute"]] = df
  name = os.path.join(dir_sinNaN, file_name)
  dataset.to_csv(name, index=False)

entrenamiento_datos_por_estacion\AJM.csv
entrenamiento_datos_por_estacion\BJU.csv
entrenamiento_datos_por_estacion\CAM.csv
entrenamiento_datos_por_estacion\CCA.csv
entrenamiento_datos_por_estacion\CUA.csv
entrenamiento_datos_por_estacion\GAM.csv
entrenamiento_datos_por_estacion\MGH.csv
entrenamiento_datos_por_estacion\NEZ.csv
entrenamiento_datos_por_estacion\PED.csv
entrenamiento_datos_por_estacion\SAC.csv
entrenamiento_datos_por_estacion\SAG.csv
entrenamiento_datos_por_estacion\SFE.csv
entrenamiento_datos_por_estacion\TAH.csv
entrenamiento_datos_por_estacion\TLI.csv
entrenamiento_datos_por_estacion\VIF.csv
validacion_datos_por_estacion\AJM.csv
validacion_datos_por_estacion\BJU.csv
validacion_datos_por_estacion\CAM.csv
validacion_datos_por_estacion\CCA.csv
validacion_datos_por_estacion\CUA.csv
validacion_datos_por_estacion\GAM.csv
validacion_datos_por_estacion\MGH.csv
validacion_datos_por_estacion\NEZ.csv
validacion_datos_por_estacion\PED.csv
validacion_datos_por_estacion\SAC.csv
validacion_datos_por_estacion\SAG.csv
validacion_datos_por_estacion\SFE.csv
validacion_datos_por_estacion\TAH.csv
validacion_datos_por_estacion\TLI.csv
validacion_datos_por_estacion\VIF.csv
prueba_datos_por_estacion\AJM.csv
prueba_datos_por_estacion\BJU.csv
prueba_datos_por_estacion\CAM.csv
prueba_datos_por_estacion\CCA.csv
prueba_datos_por_estacion\CUA.csv
prueba_datos_por_estacion\GAM.csv
prueba_datos_por_estacion\MGH.csv
prueba_datos_por_estacion\NEZ.csv
prueba_datos_por_estacion\PED.csv
prueba_datos_por_estacion\SAC.csv
prueba_datos_por_estacion\SAG.csv
prueba_datos_por_estacion\SFE.csv
prueba_datos_por_estacion\TAH.csv
prueba_datos_por_estacion\TLI.csv
prueba_datos_por_estacion\VIF.csv